@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg{
   background: url('./img/naruto-sansuke.jpg') no-repeat center center/cover;
   position: absolute;
   top:-30px;
   left: -30px;
   width: calc(100vw + 60px);
   height: calc(100vh + 60px);
   z-index: -1;
   filter: blur(0px);
}

.loading-text{
    font-size: 50px;
    color: #fff;
}

.btn{
    cursor: pointer;
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 40px;
    background-color: transparent;
    padding: 5px 30px;
    border: 2px solid gray;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 1;
    filter: blur(0px);
    box-shadow: 0 0 0 5px rgb(0,0,0,0.6);
}

.btn:hover{
    background-color: black;
    color: chocolate;
    opacity: 0.6;
    transform: scale(0.9);
}

a{
    text-decoration: none;
}